@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    border: 0;
}

:root {
    --cor-primaria: #f6f6f6;
    --cor-secundaria: #000000;
    --cor-terciaria: #22d4fd;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    font-size: 10px;
}

.cabecalho {
    padding: 5% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5%;
}

.cabecalho__menu__links {
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 8% 12%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
}

.apresentacao__texto {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.titulo-destaque {
    font-weight: inherit;
    color: var(--cor-terciaria);
}

.apresentacao__imagem {
    max-width: 30%;
    max-height: 30%;
}

.apresentacao__texto__titulo {
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 300;
}

.apresentacao__texto__titulo:hover {
    font-weight: 600;
}

.apresentacao__texto__descricao {
    font-size: 1.3rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__texto__artigo {
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 200;
    text-align: justify;
}

.apresentacao__texto__botao {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-secundaria);
    gap: 20px;
    align-items: center;
}

.apresentacao__texto__botao__titulo {
    color: var(--cor-primaria);
    text-align: center;
    font-size: 1.4rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.apresentacao__texto__botao__links {
    color: var(--cor-primaria);
    border: var(--cor-terciaria) 3px solid;
    border-radius: 12px;
    font-size: 1rem;
    width: 75%;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.apresentacao__texto__botao__links:hover {
    background-color: #272727;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    padding: 12px;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    display: flex;
    justify-content: center;
}

@media (max-width: 750px) {
    .cabecalho {
        padding: 7% 2% 0 2%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        padding: 5% 5%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .apresentacao__imagem {
        max-width: 60%;
        max-height: 60%;
        padding-bottom: 10%;
    }

    .apresentacao__texto {
        width: 100%;
        text-align: start;
    }

    .apresentacao__texto__descricao {
        text-align: inherit;
    }

    .apresentacao__texto__artigo {
        text-align: inherit;
    }
}